.footer {
  color: #fff;
  background-color: #262626;
}

.logo-footer {
  display: inline-block;
  margin: 56px 8px 40px 0;
}

.icon-select {
  display: inline-block;
  vertical-align: middle;
}

.language-select {
  padding-left:50px;
  width: 173px;
  height: 40px;
  font-size: 13px;
  color: #fff;
  background: url(../img/world.svg) no-repeat 16px 12px, url(../img/if.svg) no-repeat 151px 16px;
  background-color: #3b3b3b;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0.9;
}

.language-wrapper {
  z-index: -1;
  width: 173px;
  height: 40px;
  overflow: hidden;
}

.links { margin: 32px 0 40px; }

.hashtag {
  margin: 0;
  font-size: 16px;
}

.hashtag-green { color: #49a144; }

.social { margin: 20px 0; }

.footer-link {
  display: block;
  margin-top: 23px;
  font-size: 13px;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
}

.footer-copywrite {
  margin-top: 23px;
  font-size: 11px;
}

.btn-download { margin: 40px 0; }

.block-up {
  position: relative;
  top: -30px;
  right: 20px;
  width: 64px;
  height: 64px;
  padding: 20px;
  text-align: center;
  background-color: #59bd5a;
  border-radius: 2px;
}
