html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: "Roboto", "Arial", sans-serif;
	min-width: 320px;
}

.header {
  height: 72px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  overflow: hidden;
}

.header-wrap {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  height: 11px;
}

.btn {
  width: 72px;
  height: 40px;
  padding: 14px;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 11px;
  display: inline-block;
  vertical-align: middle;
}

.reg {
  background-color: #262626;
  color: #ffffff;
  margin-right: 0;
}

.sign {
  border: 1px solid #e0e0e0;
  color: #1d1d1d;
  margin-right: 12px;
}

.basket {
  display: none;
  vertical-align: middle;
	text-align: center;
	margin-left: 11px;
}

.loc-wrapper,
.loc-header,
.loc-form {
  display: none;
}


@media (min-width: 768px) {
	.basket {
    display: inline-block;
  }
  .loc-wrapper {
    display: inline-block;
		width: 57px;
		overflow: hidden;
		background: #fff;
  }
  .loc-select {
		width: 57px;
		height: 40px;
		border: 1px solid #e0e0e0;
		border-radius: 2px;
		font-size: 13px;
		color: #1d1d1d;
		background: transparent;
		-webkit-appearance: none;
			-moz-appearance: none;
		outline: none;
		padding-left: 12px;
  }
  .loc-header {
    display: inline-block;
  }
  .loc-form {
    width: 215px;
		display: inline-block;
		height: 40px;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
		border-radius: 2px;
		color: #1d1d1d;
		padding: 0 12px;
  }
  .btn {
    margin-right: 16px;
  }
  .search-input {
    width: 55%;
  }
  .location-card {
    display: none;
	}
	.loc-header {
		font-size: 13px;
		margin-right: 5px;
  }
  .btn-header {
	margin-left: 88px;
  }
  .logo-header {
	margin-right: 21px;
  }
}

.search {
  width: 100%;
  padding-left: 8px;
  margin: 40px 0 15px;
  color: #757575;
}

.search-pic {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.search-input {
  display: inline-block;
  height: 24px;
  width: 70%;
  font-size: 13px;
  border: none;
  outline: none;
}

.location-header {
  font-size: 11px;
	color: #626262;
	display: inline-block;
}

.location-select {
  width: 100%;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-size: 13px;
  color: #1d1d1d;
  background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
  outline: none;
  padding-left: 16px;
}

.location-wrapper {
  overflow: hidden;
  background: #fff;
}

.location-form {
  width: 227px;
  height: 40px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 2px;
  color: #1d1d1d;
  padding: 0 12px;
}

.location-input {
  border: none;
  height: 38px;
  outline: none;
  font-size: 13px;
}

.location-icon {
  display: inline-block;
  vertical-align: middle;
}

@media (min-width:992px) {
	.logo-header {
		margin-right: 122px;
		height: 13px;
	}
	.btn-header {
		margin-left: 92px;
	}
	.loc-form {
		width: 292px;
		padding-left: 12px;
	}
	.loc-select, .loc-wrapper {
		width: 65px;
	}
	.reg {
		margin-right: 27px;
	}
}

@media (min-width:1200px) {
	.btn-header {
		margin-left: 320px;
	}
	.loc-header {
		margin-right: 0;
	}
}
